*{
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(86, 209, 92);
    padding-top: 5px;
    padding-bottom: 5px;
}
header h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}
.nav-links {
    background-color: aquamarine;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.nav-links a {
    margin-left: 1rem;
    margin-top: 20rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
main {
    text-align: center;
}
.principal h1,h3,p {
    margin-top: 2rem;
}

main h2 {
    color: rgb(72, 177, 77);
    margin-top: 2rem;
}

main p{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo-sistemas {
    margin-top: 0.5rem;
    width: 5rem;
    border-radius: 50%;
}

ul {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 1rem;
}